<div class="cards">
  <app-card
    [titleCard]="'Entradas'"
    [textCard]="
      'Nos últimos 30 dias, houveram 100 Entradas, totalizando R$ 23,540.  '
    "
  ></app-card>
  <app-card
    [titleCard]="'Saídas'"
    [textCard]="
      'Nos últimos 30 dias, houveram 25 saídas, totalizando R$ 10,000.  '
    "
  >
  </app-card>
  <app-card
    [titleCard]="'Cálculo de Saldo'"
    [textCard]="
      'Fazendo o cálculo básico de R$ 23,540 - R$ 10,000, temos um saldo total de R$ 13,540.'
    "
  >
  </app-card>
</div>
