<div class="container mt-5">
  <div class="card p-4">
    <div class="d-flex justify-content-between mb-4">
      <h4>Baixa de entregas</h4>
      <a routerLink="/entregas_control" class="btn btn-outline-primary"
        >Voltar</a
      >
    </div>

    <div class="mb-4">
      <a
        href="new_entrega"
        class="btn btn-info w-100 w-md-25 mx-auto d-flex justify-content-between align-items-center"
        style="font-size: clamp(1rem, 2vw, 1.2rem)"
      >
        <span>Cadastrar nova entrega</span>
        <i class="bi bi-plus-circle" style="font-size: 1.2rem"></i>
      </a>
    </div>

    <div class="mb-4">
      <h5>Selecione o entregador:</h5>
      <select [(ngModel)]="entregadorSelecionado" class="form-select">
        <option value="">-- Selecione um entregador --</option>
        <option
          *ngFor="let entregador of entregadores"
          [value]="entregador.nome"
        >
          {{ entregador.nome }}
        </option>
      </select>
    </div>

    <h5>Entregas cadastradas:</h5>
    <div class="row justify-content-center">
      <div
        *ngFor="let entrega of entregasFiltradas; let i = index"
        class="col-12 col-md-4 mb-4"
      >
        <div class="card shadow-sm h-100 border-info">
          <div class="card-body text-center">
            <h6 class="card-title text-primary">
              <strong>Entrega {{ i + 1 }} ({{ entrega.endereco }})</strong>
            </h6>
            <p class="card-text mb-1">Valor: R$ {{ entrega.valor }}</p>
            <p class="card-text mb-1">Endereço: {{ entrega.endereco }}</p>
            <p class="card-text mb-1">
              Observações: {{ entrega.observacoes || "Nenhuma" }}
            </p>
            <p class="card-text mb-2">
              Entregador: {{ entrega.entregadorNome }}
            </p>
            <p class="card-text mb-2">
              Horário e data de cadastro: <br />
              {{ entrega.dataHoraCriacao | date : " HH:mm:ss dd/MM/yyyy" }}
            </p>

            <div class="d-flex justify-content-between gap-2 mt-3">
              <button
                disabled
                class="btn btn-warning w-50"
                (click)="removerEntrega(i)"
              >
                Pendente
              </button>
              <button class="btn btn-success w-50" (click)="removerEntrega(i)">
                Dar baixa
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-secondary w-100" (click)="imprimirControle()">
      Imprimir Controle
    </button>
  </div>
</div>
