<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow-sm border-0">
        <div class="card-header text-center bg-primary text-white">
          <h5 class="mb-0 display-4">Controle de Entregas</h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center mb-3">
            <a
              href="new_entrega"
              class="btn btn-info w-100 w-md-50 d-flex justify-content-between align-items-center"
            >
              <span>Cadastrar nova entrega</span>
              <i class="bi bi-plus-circle"></i>
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <a
              href="down_entrega"
              class="btn btn-success w-100 w-md-50 d-flex justify-content-between align-items-center"
            >
              <span>Dar baixa em entrega</span>
              <i class="bi bi-check-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-8 col-md-10">
      <div class="card p-4">
        <div class="d-flex justify-content-center">
          <button
            (click)="exportarParaExcel()"
            class="btn btn-primary w-100 w-md-50"
          >
            Exportar para Excel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
